<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div align="center">
    <h1>Film list</h1>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name of film</th>
            <th>Score of film</th>
        </tr>
        <tbody>
        <tr th:each="film : ${listFilms}">
            <td th:text="${film.id}"></td>
            <td th:text="${film.name}"></td>
            <td th:text="${film.score}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>